%html  
	%head
		%link{:rel => "StyleSheet", :href => "css/blueprint/screen.css", :type => "text/css", :media => "screen"}
		%link{:rel => "StyleSheet", :href => "css/ui-lightness/jquery-ui-1.10.2.custom.min.css", :type => "text/css", :media => "screen"}
		%script{:src =>"javascript/jquery-1.9.1.min.js"}
		%script{:src =>"javascript/jquery-ui-1.10.2.custom.min.js"}
		%title ERI: #{@page}
	%body
		%div.container
			=@version
			%br
			%a{:href => "/"} home 
			%a{:href => "/about"} about
			%a{:href => settings.homepage} contact
			%a{:href => "/logout"} logout
			%br
			%br
			%div{:style => "background-color:#ddd"}
				search:
				%form{:action => "/results", :method => "post"}
					%input{:type => "text",  :name => "query", :size => 50, :style => "font-size: 18px;"}
					%select{:name => "qType"}
						%option{:value => "full text"} full text
						%option{:value => "names"} names
						%option{:value => "orgs"} organizations
						%option{:value => "locs"} locations
					%input{:type => "submit"}
			%div{:style => "background-color:#eee"}
				%h1 #{@page}
			%p placeholder for path view
			-count = 0
			-paths = @path.split("/")
			-paths.each do |path|
				-if count < paths.size - 1 then
					="|"
					-count.times do
						="--"
					=">"
					=path
					%br
				-count += 1

	